<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="stylesheet" href="../../css/currency/main.css">
  <link rel="stylesheet" href="../../css/event/detail_process.css">
  <link rel="stylesheet" href="../../css/event/event_report.css">
  <script src="../../script/api.js"></script>
  <script src="../../script/vue.js"></script>
  <script src="../../script/vueMixin.js"></script>
  <script src="../../script/UICore.js"></script>
  <script src="../../script/event/eventDetail.js"></script>
  <title>详情</title>
</head>

<body>
  <div id="app" v-cloak>
    <div id="header">
      <div class="arrow" id="closeWin" @click="closeWin">
        <img src="../../image/return.png">
      </div>
      <div class="zline"></div>
      详情
    </div>
    <div id="dp_title">
      <label v-cloak>{{eventTitle}}</label>
    </div>
    <div id="dp_bd" style="height: auto;">
      <div class="dp_id">
        事件编号：
        <label id="serialNum" v-cloak>{{serialNum}}</label>
      </div>
      <div class="dp_grade">
        事件等级：
        <label id="emergency" v-cloak>{{emergency}}</label>
      </div>
      <div v-if="superviseArray.length > 0" v-for="(item, index) in  superviseArray" :key="index">
        <div class="dp_grade" style="color: red;">
          {{index + 1}}.督办人：
          <label id="emergency" v-cloak>{{item[0]}} {{item[1]}}</label>
        </div>
        <div class="dp_grade" style="color: red;">
          &nbsp;&nbsp;&nbsp;督办内容：
          <label id="emergency" v-cloak>{{item[2]}}</label>
        </div>
      </div>
    </div>
    <div class="event-detail" id="eventDetail">
      <a href="#" @click="formDetail">事件明细</a>
    </div>
    <div class="approveWrap" v-cloak>
      <div class="approve-flow">审批流程</div>
      <div class="flowWrap" id="flowWrap">
        <flow-detail v-for="(flow,index) in flows" :key="index" :myflow="flow">

        </flow-detail>
      </div>
    </div>
    <button class="ev_upbut" @click="subButtonClick" v-show="isEdit" v-cloak>提交</button>
    <!--提交意见以及执行人定义-->
    <div class="tcmodel" id="ev_ophandler" v-show="show.submitDiv" v-cloak style="max-height: 400px;overflow-y: auto;">
      <ul>
        <li>
          <label>提交</label>
        </li>
        <li>
          <div class="ev_in_opinion">
            <label class="ev_oplab" style="margin-left: 0px;">意见</label>
            <textarea id="zxryj" v-model="wf_wfComments" placeholder="请在此处填写意见"></textarea>
          </div>
        </li>
        <li>
          <div>
            <api-upload :imgarray="imgarray" :icon="icon"></api-upload>
          </div>
        </li>
        <!-- <li>
          <div class="ev_in_handler bg_j" @click="nextExecutorClick">
            <label class="ev_halab" style="margin-left: 0px;">选择下一步执行人</label>
            <input type="text" name="" id="" readonly="readonly" placeholder="请选择" />
          </div>
        </li> -->
      </ul>
      <!-- <div class="conorcan">
        <div class="cancel_right" @click="closeNextExecutor">取消</div>
      </div> -->
      <div class="conorcan">
        <div class="cancel_right" @click="closeNextExecutor">提交</div>
      </div>
    </div>

    <div class="tcmodel" id="ev_ophandler" v-show="show.routeDiv">
      <div class="route_title">
        <label>路由</label>
      </div>
      <ul v-for="(item,index) in route_arr">
        <li>
          <div class="ev_in_handler bg_j" @click="choose(item,index)">
            <label class="ev_halab" style="margin-left: 0px;">{{item.convertName}}</label>
            <input type="text" name="" id="" readonly="readonly" placeholder="请选择" />
          </div>
        </li>
      </ul>
      <div class="conorcan">
        <div style="text-align:center" @click="show.routeDiv = false">取消</div>
      </div>
    </div>


    <!--请选择下一执行步骤-->
    <div class="tcmodel" id="ev_next_step" v-show="show.ev_next_step" v-cloak>
      <ul id="nodeUl">
        <li>
          <label>请选择下一执行步骤 </label>
        </li>
        <li @click="selectPerson(step.activityId,step.doSelectType)" v-for="step in steps">
          <label>{{step.convertName}}</label>
        </li>
      </ul>
      <div class="conorcan">
        <div class="cancel_right" @click="closeNextStep">取消</div>
      </div>
    </div>
  </div>

</body>
<template id="person">
  <div class="flow-person">
    <span>{{myflow.nodeName}}-{{myflow.userName}}</span>
    <span class="flow-time">{{myflow.nodeTimeLimit}}</span>
  </div>
</template>
<template id="content">
  <div class="flow-content">
    <div class="flow-text">
      <div class="bei_info">意见：</div>
      <div class="handle_info">{{myflow.comments}}</div>
    </div>
    <div class="flow-photo">
      <img v-for="(attach,index) in myflow.attachList" :key="index" v-imgpath="UICore.serviceUrl+attach.uploadPath" :src="getSrc(UICore.serviceUrl+attach.uploadPath)"
        @click="openImg(UICore.serviceUrl+attach.uploadPath)" style="width:50px;height:50px" />
      <!-- <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2552174933,2157022207&fm=58&bpow=950&bpoh=1425" style="width:50px;height:50px" /> -->
    </div>
  </div>
</template>
<template id="detail">
  <div class="flow-detail">
    <flow-person :myflow="myflow"></flow-person>
    <flow-content :myflow="myflow"></flow-content>
  </div>
</template>

</html>