<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>户籍信息</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/houseowner/houseowner.css">
</head>

<body>
    <div id="list">
        <div id="header">
            <div class="arrow" @click="closeWin">
                <img src="../../image/return.png" alt="">
            </div>
            <div class="zline"></div>
            新增户籍
            <div class="asubmit" @click="submit" id="pkh_add_su">提交</div>
        </div>
        <div class="container" v-cloak>
            <div class="pk_togger" style="margin-top: 70px;">
                <houseowner-component houseownertitle="建筑名称:" myclass="pk_mem_input_all">
                    <input type="text" @click="buildingf" v-model="buildingName" readonly="readonly" name="" placeholder="请输入" />
                </houseowner-component>
                <houseowner-component houseownertitle="单元(梯/区):" myclass="bg_j pk_mem_input">
                    <input type="text" v-model="unit" name="" readonly="readonly" placeholder="请选择" />
                </houseowner-component>

                <houseowner-component houseownertitle="所属楼层:" myclass="pk_mem_input_all">
                    <input type="text" readonly="readonly" name="" v-model="layer" placeholder="请输入" />
                </houseowner-component>

                <div class="clear dynamic"></div>

                <houseowner-component houseownertitle="房号:" myclass="pk_mem_input_all">
                    <input type="text" readonly="readonly" name="" v-model="houseNum" placeholder="(地下室以D开头,如D01)">
                </houseowner-component>

                <houseowner-component houseownertitle="房屋用途:" myclass="bg_j pk_mem_input">
                    <input type="text" v-model="houseUse" name="" readonly="readonly" placeholder="请选择" />
                </houseowner-component>

                <houseowner-component houseownertitle="实际用途:" myclass="bg_j pk_mem_input">
                    <input type="text" v-model="actualUse" name="" readonly="readonly" placeholder="请选择" />
                </houseowner-component>

                <houseowner-component houseownertitle="房屋面积(平方米):" myclass="pk_mem_input_all">
                    <input type="text" readonly="readonly" name="" v-model="houseArea" placeholder="请输入" />
                </houseowner-component>

                <div class="clear dynamic"></div>

                <houseowner-component houseownertitle="户号:" myclass="pk_mem_input_all">
                    <input type="text" v-model="houseowner" v-bind:readonly="isClick" name="" placeholder="请输入" />
                </houseowner-component>

                <houseowner-component houseownertitle="户类型:" myclass="bg_j pk_mem_input">
                    <input type="text" @click="housetypef" v-model="housetype" name="" readonly="readonly" placeholder="请选择" />
                </houseowner-component>

                <!-- <houseowner-component houseownertitle="是否需要帮扶:" myclass="bg_j pk_mem_input">
                    <input type="text" @click="isneedhelpf" v-model="isneedhelp" name="" readonly="readonly" placeholder="请选择" />
                </houseowner-component> -->
                <houseowner-component houseownertitle="户成员:" myclass="pk_mem_input_all">
                    <div class="input_cen_l">
                        <input type="text" v-model="houseMembers" name="" placeholder="" /><span>人</span>
                    </div>
                    <div :class="{hidebtn:isBrowser}" class="cen_r_butt" @click="addMenber()">添 加</div>
                </houseowner-component>

                <table class="table" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td>姓名</td>
                            <td>身份证号</td>
                            <td>户成员关系</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in memberinfo_arr" @click="edits(item)">
                            <td>{{item.name}}</td>
                            <td>{{item.idCard}}</td>
                            <td>{{item.relation}}</td>
                            <td>
                                <div class="members" @click.stop="del(item)">删除</div>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div class="clear dynamic"></div>
                <div class="er_templ" v-for="(expand,index) of expandTab_arr">
                    <div class="er_templ_in">
                        <div class="er_lable">{{expand.name}}</div>
                        <div class="bg_j pk_mem_input">
                            <input @click="expandselect(index,expand.english_name,expand.name)" v-model="expand.value" readonly="readonly" type="text" name="" placeholder="请选择" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
    <script type="text/javascript" src="../../script/UICore.js"></script>
    <script type="text/javascript" src="../../script/houseowner/houseowner.js"></script>
</body>
<template id="houseownerInfo">
  <div class="er_templ">
    <div class="er_templ_in">
      <div class="er_lable">{{houseownertitle}}</div>
        <div :class="myclass">
          <slot></slot>
        </div>
    </div>
  </div>
</template>

</html>
