<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>新增房屋</title>
    <link rel="stylesheet" href="../../css/main.css">
    <!-- <link rel="stylesheet" href="../../css/mint-ui.css"> -->
    <link rel="stylesheet" href="../../css/house/house.css">
</head>

<body>
    <div id="list">
        <div id="header">
            <div class="arrow" @click="closeWin">
                <img src="../../image/return.png" alt="">
            </div>
            <div class="zline"></div>
            新增房屋
            <div class="asubmit" @click="submit" id="pkh_add_su">提交</div>
        </div>
        <div class="container" v-cloak>
            <div class="pk_togger" style="margin-top: 70px;">
                <house-component hosetitle="建筑名称:" myclass="pk_mem_input_all">
                    <input type="text" v-model="buildingName" v-on:focus="buildingf" readonly="readonly" name="" placeholder="请输入" />
                </house-component>
                <house-component hosetitle="单元(梯/区):" myclass="bg_j pk_mem_input">
                    <input type="text" @click="unitf" v-model="unit" name="" readonly="readonly" placeholder="请选择" />
                </house-component>
                <house-component hosetitle="所属楼层(层):" myclass="pk_mem_input_all">
                    <input type="text" v-bind:readonly="isClick" name="" v-model="layer" placeholder="请输入" />
                </house-component>

                <div class="clear dynamic"></div>

                <house-component hosetitle="房号:" myclass="pk_mem_input_all">
                    <input type="text" v-bind:readonly="isClick" name="" v-model="houseNum" placeholder="(地下室以D开头,如D01)">
                </house-component>

                <house-component hosetitle="房屋用途:" myclass="bg_j pk_mem_input">

                    <input type="text" @click="houseUsef" v-model="houseUse" name="" readonly="readonly" placeholder="请选择" />
                </house-component>

                <house-component hosetitle="实际用途:" myclass="bg_j pk_mem_input">
                    <input type="text" @click="actualUsef" v-model="actualUse" name="" readonly="readonly" placeholder="请选择" />
                </house-component>

                <house-component hosetitle="房屋面积(平方米):" myclass="pk_mem_input_all">
                    <input type="text" v-bind:readonly="isClick" name="" v-model="houseArea" placeholder="请输入" />
                </house-component>
                <div class="clear"></div>
                <div class="er_templ" v-for="(expand,index) of expandTab_arr">
                    <div class="er_templ_in">
                        <div class="er_lable">{{expand.name}}</div>
                        <div class="bg_j pk_mem_input">
                            <input @click="expandselect(index,expand.english_name,expand.name)" v-model="expand.value" readonly="readonly" type="text" name="" placeholder="请选择" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
    <!-- <script type="text/javascript" src="../../script/mint-ui.js"></script> -->
    <script type="text/javascript" src="../../script/UICore.js"></script>
    <script type="text/javascript" src="../../script/house/house.js"></script>
</body>
<template id="houseInfo">
  <div class="er_templ">
    <div class="er_templ_in">
      <div class="er_lable">{{hosetitle}}</div>
        <div :class="myclass">
          <slot></slot>
        </div>
    </div>
  </div>
</template>

</html>
