body{
	background-color: #F9F9F9;
}
#dp_title{
	width:100%;
	height: 30px;
	text-indent: 10px;
	line-height: 30px;
	margin-top:62px;
	font-size: 14px;
	background-color: white;
	border-bottom: 1px solid #CDCDCD;
}
#dp_bd{
	width: 100%;
	height: 60px;
	background-color: white;
	border: 1px solid white;
	border-bottom: 1px solid #CDCDCD;
}
.dp_id{
	width: 87%;
	height: 20px;
	margin: 0 auto;
	margin-top: 10px;
	line-height: 20px;
}
.dp_id label{
	margin-left: 10px;
}
.dp_grade{
	width: 87%;
	height: 20px;
	line-height: 20px;
	margin: 0 auto;
}
.dp_grade label{
	margin-left: 10px;
}
#dp_detail{
	width:100%;
	height: 40px;
	text-indent: 10px;
	line-height: 40px;
	border-bottom: 1px solid #CDCDCD;
	background-color: white;
}
#dp_detail label{
	display: block;
	background: url(../../img/arrow_icon.png) no-repeat right center;
	background-size: 8px;
	font-size: 1.2em;
}
.event-detail{
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
	border-bottom: 1px solid #CDCDCD;
	background-color: white;
}
.event-detail a{
	display: block;
	background: url(../../img/arrow_icon.png) no-repeat right center;
	background-size: 8px;
	font-size: 1.2em;
}
/*审批流程*/
.approveWrap{
	padding: 10px 12px;
}
.approve-flow{
	width: 100px;
	text-align: center;
	background: url(../../img/event/splc_bg.png) no-repeat 0 0;
	background-size: 100%;
	color: #FFFFFF;
	height: 35px;
	line-height: 27px;
}

.flow-detail{
	background-image: url(../../image/event/flow_bg.png);
	background-repeat: no-repeat;
	background-position: 45px 0;
	margin: 15px 0;
	margin-top: 5px;
	background-size: 11px;
	padding-left: 60px;
}
.flow-detail:first-child{
	background-image: url(../../image/event/fist_flow_bg.png);
	background-size: 16px;
	background-position: 42px 0;
}
.flow-person{
	background: url(../../image/event/flow_node_bg.png) no-repeat 0 0;
	background-size: auto 26px;
	color: #FFFFFF;
	overflow: hidden;
	height: 25px;
	padding-left: 20px;
	font-size: 1em;
	border-radius: 5px;
	line-height: 25px;
}
.flow-person span{
	float: left;
	background-color: #7daeff;
	width: 42%;
	letter-spacing: 0px;
	font-size: 10px;
}
.flow-person span.flow-time{
	float: right;
	float: right;
	width: 55%;
	border-top-right-radius: 4px;
	padding-right: 3%;
	text-align: right;
}
.flow-content{
	background-color: #FFFFFF;
	box-shadow: 0 0 7px rgba(216, 216, 216,.75);
	margin-left: 8px;
	padding-left: 10px;
	padding-bottom: 6px;
	/* height:100px; */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.flow-text{
	width: 100%;
	height: auto;
	display: flex;
	/* border: 1px solid #000000; */
	/* float: right; */
	font-size: 1.1em;
}
.bei_info{
	margin-top: 5px;
}
.handle_info{
	/* width: 65%; */
	flex: 1;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	word-break:break-all;
	word-wrap:break-word;
	/* border: 1px solid #000000; */
}
.over_info{
	width: 100%;
	min-height: 20px;
	margin: 5px auto;
}
.flowWrap .flow-detail:first .flow-person{
	font-size: 1.3em;
}
.flowWrap .flow-detail:first .flow-tex{
	font-size: 1.4em;
}
.flow-photo img{
	border: 1px solid #007ec6;
	width: 40px;
	height: 30px;
	margin-right: 5px;
}
