<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>修改密码</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/my.css">
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
    <script type="text/javascript" src="../../script/UICore.js"></script>
    <script type="text/javascript" src="../../script/My/modifyPassword.js"></script>

    <!-- 组件模版 -->
    <script type="text/x-template" id="item-element">
      <div class="pk_mem_temp">
          <div class="pk_mem_lable lab_size" >{{actioname}}</div>
          <div :class="myclass">
            <slot></slot>
          </div>
      </div>
    </script>
</head>
<body>
  <div class="wrapper" id="list">
      <!-- 标题栏 -->
      <div id="header">
          <div class="arrow" id="closeWin" @click="closeWin">
              <img src="../../image/return.png" alt="">
          </div>
          <div class="zline"></div>
            修改密码
          <div class="asubmit" id="pkh_add_su" @click="submit">修改</div>
      </div>
      <div class="container">
          <div  class="pk_togger" style="margin-top: 60px;">
            <main-item actioname="当前密码" myclass="pk_mem_input_all">
                <input type="password" v-model="currentPsw" name="" placeholder="请输入" />
            </main-item>
            <main-item actioname="输入新密码" myclass="pk_mem_input_all">
                <input type="password"  v-model="newPsw1" name="" placeholder="请输入" />
            </main-item>
            <main-item actioname="确认新密码" myclass="pk_mem_input_all">
                <input type="password" v-model="newPsw2"  name="" placeholder="请输入" />
            </main-item>


          </div>
      </div>
  </div>


</body>
</html>
