<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增日志</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/cityComponent/cityComponent.css">
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
    <script type="text/javascript" src="../../script/UICore.js"></script>
    <script type="text/javascript" src="../../script/mapUtil.js"></script>
    <script type="text/javascript" src="../../script/FeelingDaily/addConditionLog.js"></script>

    <script type="text/x-template" id="item-element">
      <div class="er_templ">
          <div class="er_templ_in">
            <div class="er_lable" >{{titlename}}</div>
              <div :class="myclass">
                <slot></slot>
              </div>
          </div>
      </div>
    </script>
    <template id="attach-template">
      <div>
      <div class="ev_pls_all">
        <div class="ev_photo_all">
          <div class="ev_hui_cen"></div>
            <div class="ev_pls" @click="showItem('photo')">
              <label>照片</label><div class="ev_pls_img photo"></div>
            </div>
          <div class="ev_atlas" id="imgAdd">
              <div class="ev_atlas_one" v-for="(imgpath,index) in imgarray.imgpaths" >
                <img src="../../image/icon_del.png" @click="deleteImg(imgpath,imgarray.imgnum)" />
                <img @click="openImg(imgpath);" :src="imgpath" />
              </div>
          </div>
        </div>
        <!-- <div class="ev_photo_all">
          <div class="ev_hui_cen"></div>
            <div class="ev_pls" @click="showItem('video')">
              <label>视频</label><div class="ev_pls_img video"></div>
            </div>
            <div class="ev_videos" id="videoAdd">
              <div class="ev_videos_one" v-for="(videopath,index) in imgarray.videopaths" >
                <img src="../../image/icon_del.png" @click="deleteVideo(videopath,imgarray.videonum)" />
                <img @click="openVideo(videopath);" src="../../image/video.jpg" />
              </div>
            </div>
        </div> -->
      </div>
      <div class="hideBg" v-show="myshow.bgshow" @click="closeItem"></div>
      <div class="tele-item white-bg">
        <ul id="img_video" v-show="myshow.camerashow">
          <li @click="camera_img();"><a href="javascript:void(0);">拍照</a></li>
          <li @click="getImg();"><a href="javascript:void(0);">从本地选择</a></li>
          <li class="cancelli" @click="closeItem();"><a href="javascript:void(0);">取消</a></li>
        </ul>
        <ul id="img_video" v-show="myshow.videoshow">
          <li @click="camera_video();"><a href="javascript:void(0);">视频</a></li>
          <li @click="getVideo();"><a href="javascript:void(0);">从本地选择</a></li>
          <li class="cancelli" @click="closeItem();"><a href="javascript:void(0);">取消</a></li>
        </ul>
      </div>
      </div>
    </template>
</head>
<body>
  <div id="list">
    <!-- 标题栏 -->
    <div id="header">
        <div class="arrow" id="closeWin" @click="closeWin">
            <img src="../../image/return.png" alt="">
        </div>
        <div class="zline"></div>
          <label id="logTitle"></label>
        <div class="asubmit" id="pkh_add_su" @click="uploadAttach">提交</div>
    </div>

    <!-- 表单内容 -->
      <div class="ev_hui_top"></div>
      <div id="ev_content" v-cloak>

          <form-item titlename="受访对象姓名:" myclass="er_input">
            <input type="text" v-bind:readonly="isClick" name="" v-model="personName" placeholder="请输入" />
          </form-item>
          <form-item titlename="受访对象证件号码:" myclass="er_input">
            <input type="text" v-bind:readonly="isClick" name="" v-model="personCode" placeholder="请输入" />
          </form-item>
          <form-item titlename="服务类型:" myclass="er_input">
            <input type="text" @click="serviceTypef" name="" v-model="serviceType" placeholder="请选择" readonly="readonly" />
          </form-item>
          <form-item titlename="单位:" myclass="er_input">
            <input type="text" v-bind:readonly="isClick" name="" v-model="unit" placeholder="请输入" />
          </form-item>
          <form-item titlename="工作人员:" myclass="er_input">
            <input type="text" v-bind:readonly="isClick" name="" v-model="staff" placeholder="请输入-必填" />
          </form-item>
          <form-item titlename="服务时间:" myclass="er_input">
            <input type="text" @click="serviceTimef" name="" v-model="serviceTime" placeholder="请选择" readonly="readonly"/>
          </form-item>
          <form-item titlename="登记人:" myclass="er_input">
            <input type="text" v-bind:readonly="isClick" name="" v-model="booker" placeholder="请输入" />
          </form-item>
          <form-item titlename="内容描述:" myclass="er_input">
            <input type="text" v-bind:readonly="isClick"  name=""  v-model="descriration" placeholder="请输入"/>
          </form-item>
          <attach-comp  :myshow="show" :imgarray="imgarr" :isclick="isClick"></attach-comp>

        </div>

    </div>




</body>

</html>
