<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>查询户信息</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/population/houseQuery.css">
</head>

<body>
    <div id="list" class="wrapper">
        <div id="header" class="header">
            <div class="arrow" id="closeWin">
                <img src="../../image/return.png" alt="">
            </div>
            <div class="zline"></div>
            查询户信息
            <div class="asubmit" @click="search">查询</div>
        </div>
        <!-- <div class="container">
            <div id="list" class="pk_togger" style="margin-top: 60px;">
                <div class="pk_mem_temp">
                    <div class="pk_mem_lable">屋主姓名:</div>
                    <div class="pk_mem_input_all">
                        <input type="text" name="" v-model="houseowner" placeholder="请输入" />
                    </div>
                </div>
                <div class="pk_mem_temp">
                    <div class="pk_mem_lable">房屋地址:</div>
                    <div class="pk_mem_input_all">
                        <input type="text" name="" v-model="hoseaddr" placeholder="请输入" />
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
    <script type="text/javascript" src="../../script/UICore.js"></script>
    <script type="text/javascript" src="../../script/population/houseQuery.js"></script>
</body>

</html>
