<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>新增人口</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/mint-ui.css">
    <link rel="stylesheet" href="../../css/population/population.css">
</head>

<body>
    <div id="list">
        <div id="header">
            <div class="arrow" @click="closeWin">
                <img src="../../image/return.png" alt="">
            </div>
            <div class="zline"></div>
            新增人口
            <div class="asubmit" @click="submit" id="pkh_add_su">提交</div>
        </div>
        <div class="container" v-cloak>
            <div class="pk_togger" style="margin-top: 70px;">

                <population-component personinfos="姓名:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="name" placeholder="请输入" />
                </population-component>

                <population-component personinfos="身份证号:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="identity" placeholder="请输入" />
                </population-component>

                <population-component personinfos="性别:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="sexf" v-model="sex" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="出生日期:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="birthdayf" v-model="birthday" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户成员关系:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="relationshipf" v-model="relationship" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="民族:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="nationf" v-model="nation" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="政治面貌:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="politicsf" v-model="politics" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="宗教信仰:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="religionf" v-model="religion" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="文化程度:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="degreef" v-model="degree" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="婚姻状况:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="maritalStatusf" v-model="maritalStatus" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="社会任职:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="socialOfficef" v-model="socialOffice" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户口性质:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="registTypef" v-model="registType" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户 籍 省:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="provincef" v-model="province" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户 籍 市:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="cityf" v-model="city" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户籍区/县:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="countyf" v-model="county" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户籍详址:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="registerAddress" placeholder="请输入" />
                </population-component>

                <population-component personinfos="现居地址:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="address" placeholder="请输入" />
                </population-component>

                <population-component personinfos="固定电话:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="telephone" placeholder="请输入" />
                </population-component>

                <population-component personinfos="手机号码:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="cellphone" placeholder="请输入" />
                </population-component>

                <population-component personinfos="联系方法:" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="contactMethodf" v-model="contactMethod" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="联系方式:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="contactWay" placeholder="请输入" />
                </population-component>

                <population-component personinfos="关联房屋:" v-bind:class="{isshow:shouldhide}" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="linkHousef" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="户号:" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="houseOwner" placeholder="请输入" />
                </population-component>

                <population-component personinfos="地址:"  myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="houseAddress" placeholder="请输入" />
                </population-component>

                <population-component personinfos="关联建筑:" v-bind:class="{isshow:shouldshow}" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="linkBuildingf" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="建筑名称:" v-bind:class="{isshow:shouldshow}" myclass="pk_mem_input_all">
                    <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="buiName" placeholder="请输入" />
                </population-component>

                <population-component personinfos="单元/梯:" v-bind:class="{isshow:shouldshow}" myclass="bg_j pk_mem_input">
                    <input slot="myele" type="text" name="" @click="unitf" v-model="unit" readonly="readonly" placeholder="请选择" />
                </population-component>

                <population-component personinfos="所属楼层:" v-bind:class="{isshow:shouldshow}" myclass="pk_mem_input_all">
                      <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="layerNum" placeholder="请输入" />
                </population-component>

                <population-component personinfos="房号:" v-bind:class="{isshow:shouldshow}" myclass="pk_mem_input_all">
                      <input slot="myele" type="text" v-bind:readonly="isClick" name="" v-model="houseNum" placeholder="请输入" />
                </population-component>
                <div class="clear dynamic"></div>
                <div class="er_templ" v-for="(expand,index) of expandTab_arr">
                    <div class="er_templ_in">
                        <div class="er_lable">{{expand.name}}</div>
                        <div class="bg_j pk_mem_input">
                            <input @click="expandselect(index,expand.english_name,expand.name)" v-model="expand.value" readonly="readonly" type="text" name="" placeholder="请选择" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/vue.js"></script>
    <script type="text/javascript" src="../../script/mint-ui.js"></script>
    <script type="text/javascript" src="../../script/UICore.js"></script>
    <script type="text/javascript" src="../../script/population/population.js"></script>
</body>
<template id="personinfo">
  <div class="er_templ">
    <div class="er_templ_in">
      <div class="er_lable">{{personinfos}}</div>
        <div :class="myclass">
          <slot name="myele"></slot>
        </div>
    </div>
  </div>
</template
</html>
